:root {
  font-family: 'Helvetica Neue', 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f5f1ea;
<<<<<<< ours
  background-color: #0b0b0b;
=======
  background-color: #050505;
>>>>>>> theirs
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
<<<<<<< ours
  background-color: #0b0b0b;
=======
  background-color: #050505;
>>>>>>> theirs
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
