@font-face {
  font-family: "Taylor Gothic";
  src:
    url("./assets/fonts/taylor_gothic/TaylorGothic.woff2") format("woff2"),
    url("./assets/fonts/taylor_gothic/TaylorGothic.woff") format("woff"),
    url("./assets/fonts/taylor_gothic/TaylorGothic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Helvetica Neue', 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f4f6ff;
  background-color: #0a0d18;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0a0d18;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

.font-gothic {
  font-family: "Taylor Gothic", 'Helvetica Neue', 'Montserrat', Arial, sans-serif;
}
